# Azure dependencies
azure-storage-blob
azure-identity
azure-communication-email
azure-servicebus>=7.8.3

# Audio processing
pydub
librosa
faster-whisper

# OpenAI/Whisper integration
openai-whisper
openai

# API
fastapi
uvicorn
requests
httpx

# Utilities
python-dotenv
tqdm
uuid
markdown
psutil

cloudscraper==1.2.71
feedparser==6.0.11
langchain==0.3.21
langchain_azure_ai==0.1.2
langchain_community==0.3.20
langchain_core==0.3.46
langchain_openai==0.3.9
langgraph==0.3.18
llama_index==0.12.25
nest_asyncio==1.6.0
numpy
pydantic==2.10.6
pydantic_settings==2.8.1
spacy==3.8.4
supabase==2.13.0
torch==2.6.0
transformers==4.49.0
crawl4ai==0.5.0.post4
fake_useragent==2.1.0
wget==3.2
youtube_dl==2021.12.17
